services:
  mongodb:
    image: mongo:7
    container_name: gigachat-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
